.profileHeader {
  display: flex;
  background-color: white;
  justify-content: space-between;
  margin-top: 5px;
  margin-right: 8px;
}
.img {
  margin: 8px;
  height: 45px;
}
.head {
  display: flex;
  /* border: 1px solid orange; */
}
.details {
  background: rgb(245, 245, 245);
  border-radius: 10px;
  padding: 10px;
  /* display: flex; */
  width: auto;
  /* border: 1px solid blue; */
}
.head {
  /* border: 1px solid yellow; */
}
.content {
  width: 100%;
}

.bitCoins {
  /* border: 1px solid red; */
  width: 100%;
}
.avatar {
  margin: auto;
}
.fullName {
  display: flex;
  margin-right: 10px;
  margin-top: 13px;
}
